<!DOCTYPE html>
<html>
<head>
  <title>Wall</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
  window.current_user_id = ("<%= session[:user_id]%>");
  window.current_user_name = ("<%= session[:user_name]%>");
  window.current_user_image_url = ("<%= session[:user_image_url]%>");
</script>

  <div id='wrapper' class='span4'>
    <div id='container'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
